<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/general.css" type="text/css" rel="stylesheet"/>
    <title>弋洋声呐显示系统</title>
    <script>
        if(module) {
            window.module = module;
        }
        window.$ = require("./js/jquery-2.1.4.min");
        require("./js/general")(document);
    </script>
</head>
<body>
<canvas width="800" height="800">

</canvas>
<div class="panel">
    <div class="title">
        控制界面
    </div>
    <div class="row">
        <div class="control--item">
            <div class="control--item-title">
                量程
            </div>
            <div class="knob-container" name="range">
                <div class="knob">
                    <span class="knob--pointer">
                    </span>
                    <div class="knob--label">
                    </div>
                </div>
            </div>
        </div>
        <div class="control--item">
            <div class="control--item-title">
                增益
            </div>
            <div class="knob-container" name="gain">
                <div class="knob">
                    <span class="knob--pointer">
                    </span>
                    <div class="knob--label">
                    </div>
                </div>
            </div>
        </div>
        <div class="control--item">
            <div class="control--item-title">
                频率
            </div>
            <div class="knob-container">
                <div class="list" name="freq">
                    <div class="option active" value="0">
                        自动
                    </div>
                    <div class="option" value="1">
                        低频
                    </div>
                    <div class="option" value="2">
                        高频
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="control--item">
            <div class="control--item-title">
                剖面
            </div>
            <div class="knob-container">
                <div class="list" name="profile">
                    <div class="option active" value="0">
                        图像叠加
                    </div>
                    <div class="option" value="1">
                        仅截面
                    </div>
                    <div class="option" value="2">
                        仅图像
                    </div>
                </div>
            </div>
        </div>
        <div class="control--item">
            <div class="control--item-title">
                模式
            </div>
            <div class="knob-container">
                <div class="list" name="mode">
                    <div class="option active" value="0">
                        PPI
                    </div>
                    <div class="option" value="1">
                        BScan
                    </div>
                    <div class="option" value="2">
                        Sector
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>