<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/general.css" type="text/css" rel="stylesheet"/>
    <title>弋洋声呐显示系统</title>
    <script>
        if(module) {
            window.module = module;
        }
        window.$ = require("./js/jquery-2.1.4.min");
        require("./js/general")(document);
    </script>
</head>
<body>
<canvas width="800" height="800">

</canvas>
</body>
</html>